.container{
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  background-color: white;
}
.txtFiltro{
 margin: 15px;
}
.containerTitle{
  background-color: #222227;
  color: white;
}
.divSelecTematica{
  max-width: 100%;
}
.divSelecCategoria{
  max-width: 100%;
}
