<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
      <!-- Bootstrap Grid -->
  <div class="row containerTitle">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"><span><h2>Librería BookTest</h2></span> </div>
  </div>
  <div class="row">

      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 txtFiltro"><span><h2>Filtros:</h2></span> </div>
      <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label class="Select01" for="Select01"><b>Categoría</b></label>
        </div>
        <div  class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 divSelecCategoria">
          <select class="custom-select" id="inputGroupSelect02">
            <option selected>Seleccionar...</option>
            <option value="1">Ciencia</option>
            <option value="2">Tenología</option>
            <option value="3">Literatura</option>
          </select>
        </div>
      </div>
      <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label class="Select01" for="Select01"><b>Temática</b></label>
          </div>
          <div  class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 divSelecTematica">
            <select class="custom-select" id="inputGroupSelect02">
              <option selected>Seleccionar...</option>
              <option value="1">Ciencia</option>
              <option value="2">Tenología</option>
              <option value="3">Literatura</option>
            </select>
          </div>
      </div>

  </div>
  <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <app-add-libro></app-add-libro>
      </div>
  </div>
</div>
